@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
   background-color: rgb(250, 250, 250);
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  color: #3B413C;
  font-size: 20px;
  line-height: 1.8;
  }

  h1, h2, h3 {
    color: #91818A;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px ;
    line-height: 1.6;
    }

  a {
    text-decoration: none;
    opacity: 0.7;
  }

  .social_media {
    margin: 20px;
  }

   a:hover {
    opacity: 1;
   }

 .container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
  background: #F1E4E8;                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
  }

  .picture {
  border-radius: 50%;
  }

  li {
    display: inline;
  }

  .movies_picture {
   width: 200px;
  }
